/*.home-about {*/
/*    max-width: 80rem;*/
/*    margin: auto;*/
/*}*/
#home {
    display: flex;
    padding: 96px 80px;
    position: relative;
    top: 80px;
    width: 100%;
}
#home .presentation-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-self: stretch;
}
#home h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -1.2px;
    color: rgba(249, 250, 251, 1);
}
#home p {
    font-weight: 400;
    line-height: 24px;
}
#home .lot {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
#home .available-projects {
    display: flex;
    align-items: center;
    gap: 8px;
}
#home .available-projects .img {
    display: flex;
    width: 24px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home .lot-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    align-self: stretch;
}
.home-container {
    display: flex!important;
    align-items: center;
    justify-content: center;
    gap: 48px;
}
#home .profil {
    display: flex;
    min-width: 384px;
    align-items: center;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}
#home .img {
    border: 8px solid var(--gray-dark-default, #030712);
    background:rgba(55, 65, 81, 1);
    width: 290px;
    height: 330px;
    top: 15px;
}
#home .profil img {
    position: relative;
    width: 280px;
    left: -40px;
    top: -35px;
    height: 320px;
    flex-shrink: 0;
}
#home .icon {
    display: flex;
    align-items: center;
}
#home .icon img {
    display: flex;
    align-items: center;
}
#home .icon a:hover {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(31, 41, 55, 1);
}
@media screen and (max-width: 1040px){
    #home h1 {
        font-size: 45px;
        line-height: 58px;
    }
}
@media screen and (max-width: 920px){
    .home-container {
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }
    #home .profil {
        justify-content: center;
    }
    #home .img {
        width: 320px;
        height: 330px;
    }
    #home .profil img {
        width: 265px;
        left: 19px;
        top: -24px;
        height: 320px;
    }
    #home .profil {
         min-width:auto;
    }
}
@media screen and (max-width: 768px){
    #home h1 {
        font-size: 36px;
    }
}
